<ion-view>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h3 class="title">
                    Record Your Donation
                </h3>
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Yes, I Donated
                </button>
                <h4 class="title">
                    Last time I donated was since 4 months
                    <i class="ion-icon ion-checkmark-round"></i> 
                </h4>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                <h3 class="title">
                    Personal Settings
                </h3>
            </div>
            <div class="item">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Phone </span>
                        <input type="tel" placeholder="Phone">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Name">
                    </label>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        My Blood Type
                    </div>
                    <select>
                        <option selected>-- Type --</option>
                        <option>A+</option>
                        <option>B+</option>
                        <option>O+</option>
                        <option>AB+</option>
                        <option>A-</option>
                        <option>B-</option>
                        <option>O-</option>
                        <option>AB-</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Sort By
                    </div>
                    <select>
                        <option selected>New First</option>
                        <option>Type First</option>
                    </select>
                </label>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    Notification Settings
                </div>
                <div class="item">
                    <ul class="list">
                        <li class="item item-checkbox">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            Don't send notifications<br />
                            further than
                            <label class="item item-input">
                                <input type="text" placeholder="KM">
                            </label>
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            Don't send notifications<br />
                            before
                            <label class="item item-input item-select">
                                <select clas>
                                    <option>8:00</option>
                                    <option>9:00</option>
                                    <option>10:00</option>
                                    <option>11:00</option>
                                </select><br />
                            </label>
                        </li>
                        <li class="item item-checkbox">
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                            Don't send notifications<br />
                            after
                            <label class="item item-input item-select">
                                <select>
                                    <option>18:00</option>
                                    <option>20:00</option>
                                </select><br />
                            </label>
                        </li>
                    </ul>
                    </div>
                </div>
                    <div class="card">
                        <div class="item item-divider">
                            <h3 class="title">
                                Send notifications for
                            </h3>
                        </div>
                        <div class="item">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    A+
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    B+
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    O+
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    AB+
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    A-
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    B-
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    O-
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    AB-
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button class="button button-block button-positive">
                        Save !
                    </button>                
    </ion-content>
</ion-view>
    