<ion-view ng-controller="BloodRequestCtrl as vm">
    <ion-nav-bar class="bar-dark">
        <h1 class="title padding-top">Blood Donation System</h1>
    </ion-nav-bar>
    <!--Content home page-->
    <ion-content class="top-padding-60">
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="vm.loadList(true)">
        </ion-refresher>

        <ion-list class="padding  ">
            <div ng-repeat="group in vm.bloodRequest">
                <ion-item class="item-assertive" ng-click="toggleGroup(group)" ng-class="{active:isGroupShown(group)}">
                    <div class="row">
                        <div class="small-12 columns ">
                            <h2 class="title" style="text-align: center;">
                                <b>{{group.HospitalName}}</b>
                            </h2>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            {{group.BloodType}}
                        </div>
                        <div class="col col-center">
                            <h2 class="list-h2">{{group.UnitsRequired}} Units</h2>
                        </div>
                    </div>
                    <div ng-show="isGroupShown(group)">
                        <div class="row row">
                            <div class="col">
                                {{group.Date | fromNow}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">

                                <h3><!--{{group.HospitalLocation}}--></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">


                                <a href="#/register/{{group.Id}}" ng-if="vm.isRegistered==false">
                                    <button class="button button-light icon ion-thumbsup">Yes, I Donate</button>
                                </a>
                                <button class="button button-light icon ion-thumbsup" ng-if="vm.isRegistered==true" ng-click="donate(group.Id)"> Donate</button>



                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h2 class="title">
                                    {{group.NumDonator}}/{{group.UnitsRequired}}
                                    <icon class="ion-battery-half"></icon>
                                </h2>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
