<form name="editForm" novalidate>
    <div class="row panel inbox ">
        <button class="button tiny" ng-click="back()">Back</button>
        <div class="large-12 small-12 columns">
            <div class="row">
                <div class="large-9 columns">
                </div>
                <div class="large-5 small-8 columns">
                    <label>
                        <h3>تعديل الخبر: {{showtitle}} </h3>
                        <input type="text" ng-model="user.title" required placeholder="إضافة عنوان" name="title" />
                        <span style="color:red" ng-show="editForm.title.$dirty && editForm.title.$invalid">
                            <span ng-show="editForm.title.$error.required">Title is required</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">

                <div class="large-12  small-12 columns">
                    <textarea placeholder="إضافة خبر" ng-model="user.description" required name="description"></textarea>
                    <span style="color:red" ng-show="editForm.description.$dirty && editForm.description.$invalid">
                        <span ng-show="editForm.description.$error.required">Description is required</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <div class="  submitsuccess alert-box success radius ">
                        تمة الإضافة بنجاح
                    </div>

                    <div data-alert class=" submiterror alert-box alert round">
                        لم تتم الإضافة
                    </div>


                </div>
                <div class="large-1 columns">
                    <button class="button  small round" ng-click="editnews()" ng-disabled="editForm.title.$dirty && editForm.title.$invalid ||
editForm.description.$dirty && editForm.description.$invalid ||  editForm.title.$pristine || editForm.description.$pristine ">
                        حفظ
                    </button>
                </div>
            </div>
        </div>
    </div>
    </form>

