<div class="row" style="border-bottom:1px grey solid;" ng-repeat="lecture in dat">
    <div class="large-12  columns" style="margin-top:1rem;">
        <a href="#view4/{{lecture.Id}}" style="border-bottom:1px black solid;text-decoration:none;color:#443266; font-size:120%;">
            <img ng-src="/CMS/pic/videoexample.jpg" class="angpic" style="width:15rem;" />
        </a>
        <h3 style="color:#122141;text-align: center;"><strong>  {{lecture.Vtitle}} </strong></h3>

        <p style="color:#101f40;">
            <h7 style="color:#101f40;">
                <strong>
                    {{lecture.Vdescription}}
                </strong>
            </h7>
        </p>
    </div>
</div>
<div class="row">
    <div style="padding-left:4rem;" class="large-3 columns large-centered">
        <ul class="pagination">
            <li><a class="redcolor" ng-class="{'bancolor':boolprevious}" ng-click="pagiprevious()" ng-model="boolprevious">Previous &raquo;</a></li>
            <li>{{currentPage}}</li>
            <li><a class={{classnext}} ng-click="paginext()">&laquo;Next </a></li>
        </ul>
    </div>
</div>