<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.2.14" targetFramework="net45" />
  <package id="AngularJS.Sanitize" version="1.2.14" targetFramework="net45" />
  <package id="videogular.2fdevs.plugins" version="0.3.1.0" targetFramework="net45" />
  <package id="videogular.complete" version="0.3.1.0" targetFramework="net45" />
  <package id="videogular.core" version="0.3.1.0" targetFramework="net45" />
</packages>