<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donation System Manager</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="/CMS/foundation/css/normalize.css">
    <link rel="stylesheet" href="/CMS/foundation/css/foundation.css">
    <link rel="stylesheet" href="/CMS/foundation/css/app.css">
    <link href="/Scripts/pace/loader.css" rel="stylesheet" />
    <link href="/Scripts/videogularcss/videogular-container.css" rel="stylesheet" />
    <link href="/CMS/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" />
    <link href="/Scripts/angularnotification/toaster.min.css" rel="stylesheet" />
    <link href="/CMS/foundation/foundation-icons/foundation-icons/foundation-icons.css" rel="stylesheet" />
    <link href="CMS/ng-scrollbar.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />


    <script src="/CMS/foundation/js/vendor/jquery.js"></script>
    <script src="/CMS/foundation/js/vendor/modernizr.js"></script>
    <!--<script src="/CMS/foundation/foundation-icons/foundation-icons/foundation-icons.eot"></script>
    <script src="/CMS/foundation/foundation-icons/foundation-icons/foundation-icons.ttf"></script>
    <script src="/CMS/foundation/foundation-icons/foundation-icons/foundation-icons.woff"></script>-->
</head>


<body ng-app="donationApp">
    <!--login goes here-->

    <div ng-controller="logctrl">
        <form name="logForm" novalidate ng-if="notLoggedIn">
            <div class="row">
                <div class=" large-12 small-12 ">
                    <!--
                                        <img src="/CMS/pic/banner.jpg" width="100%" style="height:65px;" />
                    -->
                </div>
            </div>

            <div class="row inbox2">
                <div class="large-3 large-centered columns">
                    <div>
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row">
                                    <div class="large-12 columns">
                                        <input type="text" name="username" ng-model="user.username" required placeholder="Username" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <input type="password" name="password" ng-model="user.password" required placeholder="Password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 large-centered columns">
                                        <button class="button expand" ng-click="logverif()">LogIn</button>
                                        <toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--login ends here-->
        <!-- body content here -->
        <div ng-if="LoggedIn">
            <div class="row">
                <div class="columns small-12 panel">
                    <h2>Donate Blood Donation System</h2>
                </div>
            </div>
            <div class="row">
                <!--First Section page side-->
                <div class="columns small-3 top-margin-col">
                    <div class="row">
                        <div class="columns small-3">Name</div>
                        <div class="columns small-9">{{UserName}}</div>
                    </div>
                    <div class="row">
                        <div class="columns small-3">Role</div>
                        <div class="columns small-9">{{Role}}</div>
                    </div>
                    <div class="row">
                        <div class="columns small-12 " dir="rtl">
                            <button class="button tiny round-5" ng-click="logout()">Log Out</button>
                        </div>
                    </div>
                </div>
                <!--Second Section page side-->
                <div class="columns small-9 top-margin-col1" style="border-left:1px solid black ">
                    <div class="row ">
                        <div class="columns small-9 right-padding-col">
                            <h2>{{HospitalName}}</h2>
                        </div>
                    </div>

                    <div ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/CMS/plupload/js/plupload.full.min.js"></script>
    <script src="/CMS/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
    <script src="/CMS/angular-1.3/angular.min.js"></script>
    <script src="/CMS/angular-1.3/angular-route.js"></script>
    <script src="/CMS/angular-1.3/angular-resource.js"></script>
    <script src="/CMS/angular-1.3/angular-animate.min.js"></script>
    <script src="/CMS/foundation/js/foundation.min.js"></script>
    <script src="/Scripts/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <script src="/CMS/ng-scrollbar.js"></script>
    <script src="/Scripts/pace/pace.min.js"></script>
    <script src="/Scripts/angularnotification/toaster.min.js"></script>
    <script src="/CMS/moment.js"></script>
    <script src="/CMS/Shared.js"></script>

    <script>
        $(document).foundation();
    </script>

</body>
</html>
